.joinLinkBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
    font-weight: bold;
    font-size: large;
    color: white;
}



.headerMesgForTheDay{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 0px 0px;
    font-weight: bold;
    color: white;
    font-style: italic;
}

.pictureSlides{
    height: 25vh;
    justify-content: center;
    background-color: orange;
    background-image: url("./Images/Title-Banner-WhatMakesYouHappy.jpg");
    background-position: center;
    background-size: cover;
}

.restaurantWrapper{
    overflow-x:scroll;
}

.searchBarMobile{
    display: none;
}

.searchBarWideScreen{
    display: block;
}

.tageatsLogoMobile{
    display: none;
}

.tageatsLogoWideScreen{
    display: block;
}

@media screen and (min-width:380px) and (max-width:443px) {
    .tageatsLogoMobile{
        display: block;
    }
}

@media screen and (max-width:443px) {
    .tageatsLogoWideScreen{
        display: none;
    }
}
@media screen and (max-width:990px) {
    .searchBarMobile{
        display: block;
    }
    .searchBarWideScreen{
        display: none;
    }
}
