.joinLinkBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
    font-weight: bold;
    font-size: large;
    color: white;
}


.cardButtonCenter{
    justify-content: center;
    align-items: center;
}

.headerMesgForTheDay{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 0px 0px;
    font-weight: bold;
    color: white;
    font-style: italic;
}

.pictureSlides{
    height: 25vh;
    justify-content: center;
    background-color: orange;
    background-image: url("./Images/Title-Banner-WhatMakesYouHappy.jpg");
}

.pictureSlidesBackgroud{
    background-image: url(./Images/Hawkers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.restaurantWrapper{
    overflow-x:scroll;
}